* {
    font-family: 'Roboto';
}

.font-nav-bar{
    margin-right: 34px;
    background: transparent;
    border: none;
    border-radius: 0;
    font-family: 'Lato';
    color: #fff;
    font-size: 10px;
    font-size: 0.625rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.navbar .custom{
    width: 150%;
    margin: 0 auto;
}

.navbar-sec{
    background-color: #FFF;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

#component {
    padding: 15px;
        padding-top: 15px;
    /* border: 1px solid #D2D2D2 */;
    background: #212529;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    padding-top: 0;
}

#telaLogin{
    width:350px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 5px 30px rgb(195, 195, 195);
}

#center{
    align-items: center;
    justify-content: center;
}

#logo-text{
    text-align: center;
    font-size: x-large;
    padding-top: 15px;
    margin-bottom: 0px;
}

#logo-text-ses{
    color: darkred;
    text-align: center;
    font-size: x-large;
    padding-top: 0px;
}

.right{
    position:absolute;
    right:200px;
}

.left{
    position:absolute;
    left:200px;
}


